.App {
  text-align: center;
  background-color: #F3F7FA;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container {
	height: 100%;
	width: 100%;
	max-width: 1600px;
	padding: 0 30px;
	box-sizing: border-box;
	margin: auto;
}

.content {
  display: flex;
  justify-content: flex-start;
}

.filters {
	width: 230px;
	margin-right: 20px;
	background-color: white;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
}

.dashboard {
	flex-grow: 1;
}

.switches {
	display: flex;
	width: 100%;
	margin-bottom: 40px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.switches button {
	width: 50%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	padding: 0;
	border: 0;
}

.tickets-list {
	width: 100%;
	overflow: hidden;
}

.ticket {
	width: 100%;
	background-color: white;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

.ticket-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}

.ticket-origin,
.ticket-destination {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ticket-origin {
	margin-bottom: 15px;
}
